.featured {
  display: flex;

  justify-content: center;
  height: 600px;
  background-color: #013914;
  color: white;

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-size: 50px;
        width: 600px;
        i {
          font-size: 50px;
          font-weight: 300;
        }
      }
      .search {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        justify-content: space-between;
        .searchInput {
          width: 500px;
          border: none;
          border-radius: 5px 0 0 5px;
          font-size: 16px;
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }
          input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 16px;
          }
        }
        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          font-weight: bold;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
        }
      }
      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          color: white;
          font-size: 14px;
          background-color: transparent;
          padding: 5px 10px;
          border-radius: 20px;
          border: 1px solid white;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .right {
          height: 100%;

          img {
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .right {
      }
    }
  }
}
