.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;

  &.active {
    background-color: white;
    color: black;
  }
  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          color: grey;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          border: 1px solid lightgray;
          gap: 10px;
          width: 200px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          font-weight: 300;

          a {
            padding: 10px 20px;
            white-space: nowrap;

            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px white solid;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgrey;
  }
  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: grey;
  }
}
