.trustedBy {
  height: 100px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-size: 24px;
  .container {
    width: 760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(90 5 5);
    font-weight: 500;
  }

  img {
    height: 40px;
    object-fit: contain;
  }
}
