.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .container {
    width: 1400px;
    max-width: 95%;
    position: relative;

    .slick-slide {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    /* Style arrows as plain circles */
    .slick-prev,
    .slick-next {
      width: 50px;
      height: 50px;
      background-color: #1dbf73;
      border-radius: 50%;
      z-index: 10;
      display: flex !important;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .slick-prev {
      left: -25px;
    }

    .slick-next {
      right: -25px;
    }

    // /* Remove default arrow icon */
    // .slick-prev:before,
    // .slick-next:before {
    //   content: ""; /* removes the default triangle */
    // }
  }

  // /* Optional: dots styling */
  // .slick-dots {
  //   bottom: -30px;

  //   li button:before {
  //     font-size: 10px;
  //     color: #999;
  //   }

  //   li.slick-active button:before {
  //     color: #333;
  //   }
  // }
}
